@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.faixamaisvendido{
  padding-top: 0;
}


.react-multi-carousel-list
  .react-multi-carousel-track
  .react-multi-carousel-item {
  z-index: -10px !important;
}

.react-multi-carousel-track {
  z-index: -10px !important;
}

.react-multi-carousel-item {
  z-index: -10px !important;
}

.carouselItem {
  margin-right: 20px !important;
}

.react-multiple-carousel__arrow,
.react-multiple-carousel__arrow--left {
  margin-left: -10px;
  z-index: 500000;
  background-color: #00000023 !important;
}

.react-multiple-carousel__arrow,
.react-multiple-carousel__arrow--right {
  margin-right: -10px;
  z-index: 500000;
  background-color: #e9070723 !important;
}

.react-multiple-carousel__arrow:hover,
.react-multiple-carousel__arrow--left:hover {
  background-color: #000 !important;
}

@media (min-width: 1024px) {
  .carouselItem {
    margin-right: 10px !important;
    margin-left: 8px !important;
  }

  .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    margin-left: -50px;
    z-index: 500000 !important;
  }

  .react-multiple-carousel__arrow,
  .react-multiple-carousel__arrow--right {
    margin-right: -50px;
  }
}